* {
  padding: 0;
  margin: 0;
  font-family: TrebuchetMS, Helvetica, sans-serif;
}
canvas {
  width: 100%;
  height: auto;
}
#footer {
  background-color: #add8e6;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#alerts {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  height: 25px;
  color: #fff;
  z-index: 1;
}
#timer {
  text-align: center;
  padding-top: 25px;
  font-size: 36px;
}
h1 {
  float: left;
}
button {
  float: right;
  margin-right: 10px;
  margin-top: 10px;
}
#alerts.a {
  color: #f00;
  background-color: rgba(0,0,0,0.5);
  padding: 20px;
}
#alerts.b {
  color: #6e6eff;
  background-color: rgba(0,0,0,0.5);
  padding: 20px;
}
