* {
  padding: 0;
  margin: 0;
  font-family: TrebuchetMS, Helvetica, sans-serif;
}
canvas {
  width: 100%;
  height: auto;
}
#header {
  position: relative;
  z-index: 1;
  text-align: center;
}
#footer {
  background-color: #add8e6;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#alerts {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  height: 25px;
  color: #fff;
  z-index: 1;
}
#alerts.a {
  background-color: rgba(0,0,0,0.5);
  padding: 20px;
}
#alerts.b {
  background-color: rgba(0,0,0,0.5);
  padding: 20px;
}
#timer {
  text-align: center;
  margin-top: 15px;
  font-size: 36px;
  background-color: #fff;
  display: inline-block;
  padding: 20px;
}
h1 {
  float: left;
}
button {
  margin-left: 10px;
  margin-top: 10px;
}
.a {
  color: #f00 !important;
}
.b {
  color: #6e6eff !important;
}
.the-stuffs {
  float: right;
}
#allChats {
  position: absolute;
  bottom: 0;
  z-index: 2;
  margin-left: 100px;
  margin-bottom: 100px;
  padding: 10px;
  background-color: rgba(0,0,0,0.7);
  min-width: 400px;
}
#allChats span {
  color: #fff;
  font-size: 18px;
  display: block;
}
#chatBox {
  position: absolute;
  bottom: 0;
  margin-bottom: 70px;
  margin-left: 100px;
  z-index: 2;
  left: 0;
  width: 400px;
  display: none;
}
#gameOver {
  position: absolute;
  text-align: center;
  color: #fff;
  font-size: 30px;
  top: 10%;
  display: none;
  width: 100%;
}
